MONGODB_URI=your_mongodb_uri
PORT=add_your_port
CORS_ORIGIN=add_your_cors_origin

ACCESS_TOKEN_SECRET_KEY=add_your_JWT_secret
ACCESS_TOKEN_EXPIRY=add_ACCESS_TOKEN_expiry
REFRESH_TOKEN_SECRET_KEY=add_your_refresh_token_key
REFRESH_TOKEN_EXPIRY=add_refersh_token_expiry_duration

CLOUDINARY_CLOUD_NAME=add_cloudinary_cloud_name
CLOUDINARY_API_KEY=add_cloudinary_api_key
CLOUDINARY_SECRET=add_cloudinary_secret_key
CLOUDINARY_URL=add_cloudinary_url
